.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.map {
  height: 500px;
  width: 80%;
  max-width: 800px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.marker {
  background-color: #ff6347;
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.popup {
  background-color: #ffffff;
  color: #333333;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup h2 {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
}